@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/ui/fonts/montserrat/Montserrat-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}