@mixin href_hover {
    transition: 0.3s all;
    &:hover {
        color: $black;
        transform: scale(0.95);
    }
}

@mixin logo_hover {
    transition: 0.3s all;
    &:hover {
        transform: rotate(1deg) scale(1.1);
    }
}

@mixin icon_hover {
    transition: 0.3s all;
    &:hover {
        transform: rotate(5deg) scale(1.1);
    }
}