@mixin href_hover {
    transition: 0.3s all;
    &:hover {
        color: $gray-dark;
        transform: scale(1.05);
    }
}

@mixin logo_hover {
    transition: 0.3s all;
    &:hover {
        transform: rotate(5deg) scale(1.1);
    }
}