@import "./styles/index.scss";

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    position: relative;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

//shared
@import '../shared/ui/index.scss';

//widgets
@import '../widgets/index.scss';

//pages
@import '../pages/index.scss';