.dropdown {
    position: absolute;
    z-index: -1;
    background: $white;
    top: 75px;
    opacity: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    width: 270px;
    height: 280px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    text-align: right;
    transition: 0.5s all;
    &__item {
        list-style: none;
        color: $gray-dark;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0px;
        margin-top: 20px;
        margin-right: 30px;
        cursor: pointer;
        @include href_hover;
    }
    &_hidden {
        top: -100%;
        opacity: 0%;
        box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
    }
    
}

